<footer class="footer">
    <div class="content has-text-centered">
        <p>{{site.author}} &copy; {{last_build[12:16]}}</p>
        <p class="has-text-grey-lighter">created with <a class="has-text-grey-lighter" href="https://github.com/machineandme/postblog">postblog</a></p>
    </div>
</footer>