<form id="form" action="{{site.formcarry}}" method="POST">
    <div class="field">
        <label class="label">Name*</label>
        <input class="input" type="text" name="name" required>
    </div>
    <div class="field">
        <label class="label">Message</label>
        <textarea class="textarea has-fixed-size" name="message" rows="3"></textarea>
    </div>
    <div class="field">
        <label class="label">How we can reply</label>
        <div class="control">
            <div class="select">
                <select name="mype">
                    <option>Telegram</option>
                    <option selected>Email</option>
                    <option>Whatsapp</option>
                    <option>Facebook</option>
                    <option>Instagram</option>
                    <option>Vk</option>
                </select>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label">Your account</label>
        <input class="input" type="text" name="login">
    </div>
    <div class="field">
        <input class="button" type="submit" value="Send">
    </div>
</form>