    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{contact.name}}">
    <meta name="document-state" content="Dynamic">
    <meta name="robots" content="index,follow">
    <meta name="robots" content="all">
    <meta name="theme-color" content="{{site.theme.color}}">
    <link rel="icon" type="image/png" href="{{page.base}}assets/{{assets.cover}}" />
    <link rel="manifest" href="{{page.base}}assets/{{assets.manifest}}">
    <title>{{page.name}} | {{site.name}}</title>
    <meta name="description" content="{{site.description}}">
    <meta itemprop="name" content="{{site.name}}">
    <meta itemprop="description" content="{{site.description}}">
    <meta itemprop="image" content="{{site.link}}/assets/{{assets.cover}}">
    <meta property="og:url" content="{{site.link}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{page.name}} | {{site.name}}">
    <meta property="og:site_name" content="{{site.name}}">
    <meta property="og:description" content="{{site.description}}">
    <meta property="og:image" content="{{site.link}}/assets/{{assets.cover}}">
    <meta name="twitter:url" content="{{site.link}}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{page.name}} | {{site.name}}">
    <meta name="twitter:site" content="{{site.name}}">
    <meta name="twitter:description" content="{{site.description}}">
    <meta name="twitter:creator" content="{{contact.twitter}}">
    <meta property="twitter:image" content="{{site.link}}/assets/{{assets.cover}}">
    <link rel="stylesheet" href="{{page.base}}assets/style.css">
    <link rel="stylesheet" href="{{page.base}}assets/style_font.css">
    <style>
        .is-official {
            background-color: {{site.theme.color}} !important;
        }
    </style>
    <link rel="alternate" type="application/rss+xml" title="{{site.name}}" href="{{site.link}}/feed.xml">
    <link rel="canonical" href="/">
    <script>{{script_js}}</script>