<!DOCTYPE html>
<html>

<head>
{% include 'head.html.j2' %}
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">{{site.name}}</h1>
            {% for article in articles %}
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <p class="title is-4"><a href="{{article.link}}">{{article.title}}</a></p>
                        {{article.text}}
                        {% for category in article.categories %}
                        <a href="#">#{{category}}</a>
                        {% endfor %}
                        <br>
                        <time datetime="{{article.publication}}">{{article.publication[5:16]}}</time>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>

</html>