<!DOCTYPE html>
<html>

<head>
{% include 'head.html.j2' %}
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">{{post.title}}</h1>
            <p>{{post.text}}</p>
        </div>
    </section>
</body>

</html>