<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{site.name}}</title>
    <description>{{site.description}}</description>
    <link>{{site.link}}</link>
    <atom:link href="{{site.link}}/feed.xml" rel="self" type="application/rss+xml"/>
    <pubDate>{{last_build}}</pubDate>
    <lastBuildDate>{{last_build}}</lastBuildDate>
    <generator>{{generator}}</generator>
{% for article in posts %}
      <item>
        <title>{{article.title}}</title>
        <description>{{article.text}}</description>
        <pubDate>{{article.publication}}</pubDate>
        <link>{{article.link}}</link>
        <guid isPermaLink="true">{{article.link}}</guid>
    {% for category in article.categories %}
        <category>{{category}}</category>
    {% endfor %}
      </item>
{% endfor %}
  </channel>
</rss>